<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="anykey1" value="anyvalue1" />
    <add key="anykey2" value="anyvalue2"/>
  </appSettings>
	
  <connectionStrings>
    <add name="postgres" connectionString="Server=127.0.0.1;Port=5432;Database=las;User Id=las;Password=las;" providerName="npgsql"/>
    <add name="sqlite" connectionString="Data Source=database.sqlite" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>