<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Ambulance Dispatching Server</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/Home/Index">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/Home/Ambulances">Ambulances <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>

<div class="container">

  <div class="starter-template">
    <h1>Ambulances</h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
	    <p class="tableTitle"><strong>Ambulances</strong></p>
		<table class="table">
		  <thead>
		    <tr>
		      <th>Identifier</th>
		      <th>Status</th>
		      <th>InTrafficJam</th>
		    </tr>
		  </thead>
		  <tbody id="ambulanceTable">
		  </tbody>
		</table>
    </div>
</div>


	