<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
	<target name="optimizer" xsi:type="File" fileName="optimizer.log"
			layout="${longdate} ${uppercase:${level}} ${message}"/>
	<target name="console" xsi:type="Console"
			layout="${longdate} ${uppercase:${level}} ${message}"/>
  </targets>

  <rules>
	<logger name="LAS.Monitoring.Optimizer" minlevel="Trace" writeTo="optimizer" />
	<logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>